
title: "EFT–TBT — Isabelle Levrat"
description: EFT–TBT
keywords: "EFT, Emotional Freedom Technique, TBT, Trauma Buster Technique"
author: "Isabelle Levrat, Nicolas Jeanmonod"

locale: fr

url: "http://eft-tbt.com/"
baseurl: ""

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: true

exclude: [ "CNAME", "README.md", "Gemfile", "Gemfile.lock" ]

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"

sass:
  sass_dir: assets/css


gems:
  - jekyll-sitemap


compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]
  endings: []
  ignore:
    envs: []
  blanklines: true
  profile: false
  startings: []

