{% comment %}
<!--

PROCÉDURE DE CRÉATION DES BOUTONS PAYPAL
https://developer.paypal.com/docs/integration/web/

LIEN DIRECT
https://www.paypal.com/us/cgi-bin/webscr?cmd=_button-designer

-->
{% endcomment %}

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHfwYJKoZIhvcNAQcEoIIHcDCCB2wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAR3wBuusGaDWsZ3qF6sMXY4f9fS5V1DmKumlrDYBhtrIOF91dx2aJ99nTZDQG/WiW5XI5pkzNFSvjsb23dKjLGQ1DFuT5nBOtMm7/DFlB44ebZKEwxOI5KCb4FNn7DXZE8ObZy0D8BMYA95VI8yHidvEaKrg30y86KC3B/hVg9hTELMAkGBSsOAwIaBQAwgfwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIenKtPQ0QW5uAgdjOjhywVtIbettw1qVUgg+57P6rHqk+X3xlBlQ6JxuXtzDWfeReucPTEZDikXlw5MwTrDeB3SdFJdrppCdQxo2Ug1A6iYkegP+qkc7K6uR5AFVjHfQWZsDzcdTOyf7bie6Mn3N5x78kQAk9I0YlDaB/zJ6sDmYWEW8K79jBmKuwbv+ozN6o9qaMWj0npqAdgLcZYp2P9sMtGH+cRBKgMV98MyXoIvoigi0/b8bkrLWgqizSIvMu4HCTrScDv6PX79cZ3dHi3zctDEd1yATyjFNOusoYrNPJh/ugggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNjAyMTkxNzA5MjdaMCMGCSqGSIb3DQEJBDEWBBRcwHJqQmn5cJ11gmZ10cG0PT3xBjANBgkqhkiG9w0BAQEFAASBgBv00DIjC/KcMo2LBjfOVTkzTfkZ8W5J94n+9VEClXw1Y78Zg+GXRLGMCOYTjPOvvxjyStSTxPf34n0xw3MbLVYY4Jq9kcMM2hrhcsbtcxch6uEvzWIwoaILbRCTdMIUlnvS3YXcTR/MBafcXcCl+dex0sGjCfywIP8evItXmbv1-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/fr_FR/CH/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
